*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  color: #111;
  font-family: "Special Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow-y: auto;
}

.special-gothic-expanded-one-regular { 
    font-family: "Special Gothic Expanded One", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
}

.special-gothic-uniquifier { 
  font-family: "Special Gothic", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 12px; 
  font-style: normal; 
  font-variation-settings: "wdth" 100; 
} 

a {
  color: #000000;
  text-decoration: none;
  line-height: 0.25;
}

a:hover {
  color: #515151
}



/*Nav*/
.nav-column {
  position: fixed;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo img {
  width: 100%;
  max-width: 200px;
  box-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 2em;
}

.nav-links a {
  font-size: 1rem;
  box-align: center;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.nav-parent {
  font-size: 1rem;
}

.nav-sub {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  padding-left: 1.25rem;
  margin-top: 0.15rem;
}

.nav-sub a {
  font-size: 0.8rem;
  color: #515151;
  transition: opacity 0.2s ease, transform 0.2s ease;
  line-height: 2;
}





/*Grids*/
.grid {
  display: block;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  padding-left: calc(200px + 4rem);
  max-width: 1200px;
  margin: auto;
}

.grid img { 
  width: 100%; 
  height: auto; 
} 

.image-center {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
  padding-left: 2em;
}

.text-wrap {
  line-height: 1.5;
}

.text-wrap img {
  float: right;
  width: 300px;
  max-width: none;
  margin: 0 0 1rem 1.5rem;
}

.text-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.secondary-wrap img {
  float: left;
  width: 200px;
  margin: 1rem 1.5rem 0 0;
}

@media (max-width: 700px) {
  .nav-column {
    position: static;
    width: auto;
  }

  .grid {
    padding-left: 2rem;
  }
}



/*Photo Column*/
.photo-column {
  width: 100%;
  display: block;
}

.masonry-gallery {
  column-count: 3;
  column-gap: 1rem;
}

.masonry-gallery img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  break-inside: avoid;
}

@media (max-width: 1100px) {
  .masonry-gallery {
    column-count: 2;
  }
}

@media (max-width: 700px) {
  .masonry-gallery {
    column-count: 1;
  }
}


.image-module {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.image-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: .5em;
}
