/*General Setup*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background: #fff;
  color: #111;
  font-family: "Special Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body.static-scroll {
  overflow: hidden;
  height: 100%;
}

.special-gothic-expanded-one-regular { 
    font-family: "Special Gothic Expanded One", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
}

.special-gothic-uniquifier { 
  font-family: "Special Gothic", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 12px; 
  font-style: normal; 
  font-variation-settings: "wdth" 100; 
} 

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #515151
}



/*Grids*/
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;

  height: 100vh;
  padding: 2rem;

  align-items: center;
  max-width: 1200px;
  margin: auto;
}


.grid img { 
  width: 100%; 
  height: auto; 
} 

/*Cursor Image Reveal*/
/* container */
.image-reveal {
  display: block;
  width: 100%;
  max-width: 900px;
  height: 56.25vw;
  max-height: 506px;
  position: relative;
  overflow: hidden;
}

/* images */
.image-reveal img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* bottom image */
.ir-base {
  z-index: 1;
}

/* top image with mask */
.ir-reveal {
  z-index: 2;

  --x: 50%;
  --y: 50%;
  --r: 0px;

  -webkit-mask-image: radial-gradient(
    circle var(--r) at var(--x) var(--y),
    black 100%,
    transparent 101%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: radial-gradient(
    circle var(--r) at var(--x) var(--y),
    black 100%,
    transparent 101%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

/* cursor ring */
.ir-port {
  z-index: 3;
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 0;
}