*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 0.25;
  background: #fff;
  color: #111;
  font-family: "Special Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body.static-scroll {
  overflow: hidden;
  height: 100%;
}

.special-gothic-expanded-one-regular { 
    font-family: "Special Gothic Expanded One", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
}

.special-gothic-uniquifier { 
  font-family: "Special Gothic", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 12px; 
  font-style: normal; 
  font-variation-settings: "wdth" 100; 
} 

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #515151
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo img {
  width: 100%;
  max-width: 200px;
  box-align: center;
}


/*Nav*/
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 2em;
}

.nav-links a {
  font-size: 1rem;
  box-align: center;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.nav-parent {
  font-size: 1rem;
}

.nav-sub {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  padding-left: 1.25rem;
  margin-top: 0.15rem;
}

.nav-sub a {
  font-size: 0.8rem;
  color: #515151;
  transition: opacity 0.2s ease, transform 0.2s ease;
  line-height: 2;
}



/*Grids*/
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  height: 100vh;
  padding: 2rem;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  min-height: 0;
}

.grid img { 
  width: 100%; 
  height: auto; 
} 



/*Photo Column*/
.photo-column {
  height: 90%;
  min-height: 0;
  display: flex;
}

.gallery-wrap {
  flex: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-right: 0.5rem;
}

.masonry-gallery {
  column-width: 220px;
  column-gap: 1rem;
}


.masonry-gallery img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  break-inside: avoid;
}

@media (max-width: 1100px) {
  .masonry-gallery {
    column-count: 2;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .masonry-gallery {
    column-count: 1;
  }
}



